.title {
  color: red;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebarToggle.active svg {
  transform: rotate(180deg);
}

#sidebarToggle {
  position: absolute;
  border-radius: 0;
  border-bottom-right-radius: 10%;
  padding: 0.5rem;
  top: 0;
  left: 0;
  transition: left 0.4s;
}

#sidebarToggle.active {
  left: 25%;
}

#sidebarToggle svg {
  transition: transform 0.4s ease-in-out;
}