#constructorPages {
  min-width: 95%;
  max-width: 95%;
  margin-left: auto;
  transition: all 0.4s;
}
#constructorPages.active {
  min-width: 70%;
  max-width: 70%;
}
.pageItem:hover {
  cursor: pointer;
}
