#sidebar {
  min-width: 25%;
  max-width: 25%;
  margin-left: -25%;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
  transition: margin-left 0.4s;
}

#sidebar.active {
  margin-left: 0;
}

#deleteSubject {
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 10%;
  padding: 0.3rem;
}

.subjectCard {
  position: relative;
}
