#sidebar {
  min-width: 18%;
  max-width: 18%;
  margin-left: -18%;
  min-height: 100vh;
  position: relative;
  background-color: #adb5bd;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: 0px;
}

#sidebarToggle {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 100%;
}