.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  min-width: 25%;
  max-width: 25%;
  min-height: 100vh;
  position: relative;
  transition: all 0.3s;
}

#sidebar {
  margin-left: -25%;
}

#sidebar.active {
  margin-left: 0;
}

#sidebar-toggle {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 100%;
}

#deleteSubject {
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 10%;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
